@model ClientMk1.Models.IndivPriSchool

<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type='text/javascript' src="~/Scripts/knockout-3.4.0.js"></script>
    <script type="text/javascript" src="/Scripts/gmaps.js"></script>
    
    <meta name="viewport" content="width=device-width" />
    @{
        ViewBag.Title = Html.DisplayFor(model => model.Name);
    }
    <style>
        #map {
            height: 350px;
            width: 50%;
        }

    </style>
    <style>    
        .pieChartDiv {
            padding: 0;
            float: left;
            width: 100%;
            min-height: 400px;
            border: 1px solid white;
        }

        .lineChartDiv {
            float: left;
            width: 100%;
            min-height: 400px;
            border: 1px solid white;
        }

        .infoform {
            width: 50%;
            float: left;         
        }

        @@media screen and (max-width: 767px) {
            .infoform {
                width: 100%;
            }

            #map {
                width: 100%;
            }

            .pieChartDiv {
                width: inherit;
            }

            .lineChartDiv {
                width: inherit;
                /*overflow: scroll;*/
            }
            html {
            width: 600px;
        }
        }
    </style>
</head>
<body style="width:80%; margin-left:10%; padding-top:50px">

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvIWVTpJmbCdIfhxfe31Z3w3iXkvR-JG8&callback=initMap">
    </script>
    <div class="row">
        <div class="col infoform">
            <h3>
                <span class="display-field" id="schname">
                    @Html.DisplayFor(model => model.Name)
                </span>
            </h3>
            <table>
                <tbody>
                    <tr>
                        <td class="display-label btnbrdr">
                            @Html.DisplayNameFor(model => model.RollNo):
                        </td>
                        <td class="display-field btnbrdr" id="rollno">
                            @Html.DisplayFor(model => model.RollNo)
                        </td>
                    </tr>
                    <tr>
                        <td class="display-label btnbrdr">
                            Address:
                        </td>
                        <td class="display-field btnbrdr" id="schaddress">
                            @Html.DisplayFor(model => model.Address)
                        </td>
                    </tr>
                    <tr>
                        <td class="display-label btnbrdr">
                            @Html.DisplayNameFor(model => model.County):
                        </td>
                        <td class="display-field btnbrdr">
                            @Html.DisplayFor(model => model.County)
                        </td>
                    </tr>
                    <tr>
                        <td class="display-label btnbrdr">
                            @Html.DisplayNameFor(model => model.DEIS):
                        </td>
                        <td class="display-field btnbrdr">
                            @Html.DisplayFor(model => model.DEIS)
                        </td>
                    </tr>
                    <tr>
                        <td class="display-label btnbrdr">
                            @Html.DisplayNameFor(model => model.Phone):
                        </td>
                        <td class="display-field btnbrdr">
                            @Html.DisplayFor(model => model.Phone)
                        </td>
                    </tr>
                    <tr>
                        <td class="display-label btnbrdr">
                            @Html.DisplayNameFor(model => model.Email):
                        </td>

                        <td class="display-field btnbrdr">
                            @Html.DisplayFor(model => model.Email)
                        </td>
                    </tr>
                    <tr>
                        <td class="display-label btnbrdr">
                            @Html.DisplayNameFor(model => model.Irish):
                        </td>
                        <td class="display-field btnbrdr">
                            @Html.DisplayFor(model => model.Irish)
                        </td>
                    </tr>

                    <tr>
                        <td class="display-label btnbrdr">
                            @Html.DisplayNameFor(model => model.Religion):
                        </td>
                        <td class="display-field btnbrdr">
                            @Html.DisplayFor(model => model.Religion)
                        </td>
                    </tr>
                    <tr>
                        <td class="display-label btnbrdr">
                            Girls:
                        </td>
                        <td class="display-field btnbrdr" id="girls2016">
                            @Html.DisplayFor(model => model.TotalGirls)
                        </td>
                    </tr>
                    <tr>
                        <td class="display-label btnbrdr">
                            Boys:
                        </td>
                        <td class="display-field btnbrdr" id="boys2016">
                            @Html.DisplayFor(model => model.TotalBoys)
                        </td>
                    </tr>
                    <tr>
                        <td class="display-label btnbrdr">
                            Total:
                        </td>
                        <td class="display-field btnbrdr" id="Total">
                            @Html.DisplayFor(model => model.Total)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.education.ie/en/find-a-school/School-Detail/?roll=@Html.DisplayFor(model => model.RollNo)">More Info</a>
                        </td>
                        <td>@Html.ActionLink("Back to List", "Index")</td>
                    </tr>
                </tbody>
            </table>
         
            <span class="display-field" id="schlat" style="visibility:hidden">
                @Html.DisplayFor(model => model.lat)
            </span>
            <span class="display-field" id="schlon" style="visibility:hidden">
                @Html.DisplayFor(model => model.lon)
            </span>
            <span class="display-field" id="boys2015" style="visibility:hidden">
                @Html.DisplayFor(model => model.data2015.boys)
            </span>
            <span class="display-field" id="girls2015" style="visibility:hidden">
                @Html.DisplayFor(model => model.data2015.girls)
            </span>
            <span class="display-field" id="boys2014" style="visibility:hidden">
                @Html.DisplayFor(model => model.data2014.boys)
            </span>
            <span class="display-field" id="girls2014" style="visibility:hidden">
                @Html.DisplayFor(model => model.data2014.girls)
            </span>
            <span class="display-field" id="boys2013" style="visibility:hidden">
                @Html.DisplayFor(model => model.data2013.boys)
            </span>
            <span class="display-field" id="girls2013" style="visibility:hidden">
                @Html.DisplayFor(model => model.data2013.girls)
            </span>
            <span class="display-field" id="boys2012" style="visibility:hidden">
                @Html.DisplayFor(model => model.data2012.boys)
            </span>
            <span class="display-field" id="girls2012" style="visibility:hidden">
                @Html.DisplayFor(model => model.data2012.girls)
            </span>
            <span class="display-field" id="boys2011" style="visibility:hidden">
                @Html.DisplayFor(model => model.data2011.boys)
            </span>
            <span class="display-field" id="girls2011" style="visibility:hidden">
                @Html.DisplayFor(model => model.data2011.girls)
            </span>
          </div>
        <div class="col" id="map"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <hr />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="col pieChartDiv" id="piechart"></div>
        </div>
        <div class="col-md-6">
            <div class="col lineChartDiv " id="chart_div"></div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

    <center>
        <div id="loading">
            @*<img src="http://i.imgur.com/aMz1Qtu.gif" height="100px">
                <img src="https://media.giphy.com/media/4fLr6kOk9uFrO/giphy.gif" />
                <img src="https://media.giphy.com/media/cjiYC0tvtBNde/giphy.gif" />*@
        </div>
    </center>
</body>
</html>
<script>
    @*var JSONsource =  @Html.Raw(Json.Encode(Model));
    ko.applyBindings(new SchoolModel(JSONsource));*@
</script>