@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @Html.ActionLink("EducationFirst", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Help", "_Help", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>

                @*@Html.Partial("_LoginPartial")*@
            </ul>
        </div>
    </div>
</div>



      <a class="tablezzzz">
     @Html.ActionLink("Secondary Schools", "Index", "SecondarySch")
</a>
<button type="button">
    @*Secondary Schools*@
    
</button>
<a><img alt="New" title="New" src="~/Content/themes/base/images/ui-icons_cc0000_256x240.png" /></a>
        @*<div role="tabpanel" class="tab-pane " id="projects">@Html.Partial("_Projects", model: Model)</div>
        <div role="tabpanel" class="tab-pane active " id="timesheets">@Html.Partial("_Timesheets", model: Model)</div>*@

